@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

:root{
    --light-grey: #707070;
    --bg-sand: #F7F4EB;
    --yellow: #F6C63B;
    --dark-olive: #506849;
    --light-olive: #556F4D;  
}

*,body,html{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}




main{
    position: relative;
}

button{
  font-size: 17px;
  text-align: center;
  border-radius: 25px;
  text-align: center;
  font-weight: 700;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  cursor: pointer;
}


footer{
    height: max-content;
}

.title-h2{
    font-weight: 900;
    font-size: 36px;
    line-height: 43.88px;
    color: var(--dark-olive);
}

.title-h2-span{
    color: var(--yellow);
}

.grey-p{
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: var(--light-grey);
    width: 100%;
}

.top-menu{
    height: 85px;
    padding: 0;
    margin: 40px 40px 0px 40px;
    position: relative;
    
}

.top-menu ul {
    
    width: 100%;    
    padding: 0;
    margin: 0;
    position: relative;
    

}

.top-menu .top-img {
    position: absolute;
    right: calc(50% - 93px);
    z-index: 1;
    cursor: pointer;
}
    
.btn-top{
    transition: all .2s ease-in-out;
}

.btn-top:hover{
    transform: scale(1.1);
    
}

.btn-nav{
    position: absolute;
    top: 0;
    width: 140px;
    height: 40px;     
}

.btn-menu {
    color: var(--dark-olive);
    background: transparent;
    border: 3px solid var(--dark-olive);
    left: 0;   
}


.btn-entrar {
    background: var(--dark-olive);
    border: none;
    color: white;
    right: 0;
}

.btn-start {
    width: 280px;
    height: 60px
}

.btn-loadmore{
    width: 380px;
    height: 62px;
    margin: 50px auto;
}

.btn-topsection{
    background: var(--yellow);
;
    border: none;
    border-radius: 30px;

    color: var(--dark-olive);
    font-size: 18px;
    font-weight: 700;
}

.btn-footer {
    cursor: pointer;
    border-radius: 50%;
}

.btn-register{
    background: var(--yellow);
    width: 120px;
    height: 40px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

.footer-content{
    background: var(--light-olive);
    padding: 93px 80px 40px 86px;
}

.footer-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-top .img-container{
    margin-bottom: 82px;
}

.news-container p{
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    padding-left: 5px;
}



.input-container {
    width: 360px;
    height: 60px;
    background: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px 10px 19px 30px ;
    
}

.input-container input{
    border: none;
    font-size: 18px;
    font-weight: 700;
    text-align: left ;
    width: 60%;
    height: 50px;
}

.input-container input::placeholder{
    color: var(--dark-olive);
}

.footer-credentials {
    background-color: var(--dark-olive);
    width: 100%;
    display: inline-grid;
    grid-template-columns: 33% 33% 33%;
    height: 90px;
    margin-bottom: 0;
    padding: 36px 80px 36px 86px;
    text-align: center;
    position: relative;

}



.footer-credentials p{
    font-weight: 700;
    font-size: 12px;
    line-height: 14.63px;
    color: #fff;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    text-align: initial;

}

.ftr-logo-container{
    text-align: end;
}

.links-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.list-container{
    width: 65%;
    display: flex;
    gap: 15%;
}

.links-container .list-container ul{
    list-style: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.links-container .list-container ul li, .links-container .list-container p {
    color: #fff;
}

.links-container .list-container p img{
    padding-left: 7px;
}

.links-container .list-container li{
    margin-bottom: 18px ;
    cursor: pointer;
}

.links-container .list-container span{
    color: var(--yellow);
    line-height: 22px;
    font-weight: 700;
    font-size: 18px;

}

.links-column  {
    font-size: 14px;
    line-height: 17px;
}

.social-links-column {
    display: flex;
    justify-content: space-between;
}

.social-links-column .img-container{
    margin: 0 15px;
    width: 80px;
    height: 80px;
    background: var(--dark-olive);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.social-links-column .img-container img{
    position: absolute;
    bottom: calc(50% - 14px);
    right: calc(50% - 14px);
    
}


.terms-container{
    height: 30px;
    margin-bottom: 40px;
}

.terms-container ul{
    width: 100%;
    display: flex;
    gap: 40px;
}

.terms-container a{
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    position: relative;
}

.terms-container a:not(:last-child):after{
    content: " ";
    background-color: #fff;
    border-radius: 50%;
    height: 2px;
    width: 2px;
    position: absolute;
    right: -19px;
    top: 50%;
    
}

.uk-offcanvas-bar{
    background: var(--light-olive)!important;
}