







.top-menu button.btn-entrar img{
    max-height: 20px;
}

.top-section {

    background: var(--bg-sand);
    height: 530px;
    width: 100%;
    padding-top: 172px;

}

.top-section .top-container {
    text-align: center;
}

.top-section .top-container .btn-topsection{
    margin: 0 auto;
}

.top-section .top-container p{
    color: #9A9A9A;
    font-size: 18px;
    line-height: 21.94px;
    font-weight: 700;
}

.top-section .top-container h1{
    color: var(--dark-olive);
    font-weight: 900;
    font-size: 48px;
    line-height: 58.51px;
    max-width: 675px;
    margin: 28px auto 38px;
}



.main-content{
    background: #fff;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 100px;
    max-width: 1200px;

}

.main-content .step-container{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-bottom: 314px ;
    width: 90%;
    
    position: relative;
}

.main-content .step-container:first-child:after{
    content: "";
    position: absolute;
    background-image: url('../assets/left-line.svg');
    width: 607px;
    background-size: contain;
    height: 323px;
    background-repeat: no-repeat;
    bottom: 1px;
    left: 200px;
    top: 470px;
}

.main-content .step-container:nth-child(2):after{
    content: "";
    position: absolute;
    background-image: url('../assets/right-line.svg');
    width: 645px;
    background-size: contain;
    height: 405px;
    background-repeat: no-repeat;
    bottom: 1px;
    left: 200px;
    top: 450px;
}

.main-content .step-container:last-child{
    margin-bottom: 180px;
}

.step-container+.step-container{
    margin-bottom: 330px;


}

.step-content-container{
    padding: 5px 10px;
    transform: translateY(15px);
    transition: all 1.3s;
    border-radius: 15px;

}

.step-content-container:hover {
    transform: translateY(-15px);
    transition: all 0.7s;
    transition-timing-function: ease-in-out;
    box-shadow: 0 40px 50px var(--light-grey);
    background: var(--bg-sand);
}

.step-img-container{
    width: 480px;
}

.step-img-container img{
    box-shadow: 20px 20px 0 #f4c80f;
    max-width: fit-content;
}




