
.top-menu{
    height: 85px;
    padding: 0;
    margin: 40px 40px 0px 40px;
    position: relative;
    
}

.top-menu ul {
    
    width: 100%;    
    padding: 0;
    margin: 0;
    position: relative;
    


}

.top-menu .top-img {
    position: absolute;
    right: calc(50% - 93px);
    z-index: 1;
}
    
.btn-top{
    transition: all .2s ease-in-out;
}

.btn-top:hover{
    transform: scale(1.1);
    
}

.btn-nav{
    position: absolute;
    top: 0;
    width: 140px;
    height: 40px;     
}

.btn-menu {
    color: var(--dark-olive);
    background: transparent;
    border: 3px solid var(--dark-olive);
    left: 0;   
}


.btn-entrar {
    background: var(--dark-olive);
    border: none;
    color: white;
    right: 0;
}

.btn-topsection{
    background: var(--yellow);
    width: 280px;
    height: 60px;
    border: none;
    border-radius: 30px;

    color: var(--dark-olive);
    font-size: 18px;
    font-weight: 700;
}

.btn-footer {
    cursor: pointer;
    border-radius: 50%;
}

.btn-register{
    background: var(--yellow);
    width: 120px;
    height: 40px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}


.top-menu button.btn-entrar img{
    max-height: 20px;
}

.top-section {

    background: var(--bg-sand);
    height: 530px;
    width: 100%;
    padding-top: 172px;

}

.top-section .top-container {
    text-align: center;
}

.top-section .top-container .btn-topsection{
    margin: 0 auto;
}

.top-section .top-container p{
    color: #9A9A9A;
    font-size: 18px;
    line-height: 21.94px;
    font-weight: 700;
}

.top-section .top-container h1{
    color: var(--dark-olive);
    font-weight: 900;
    font-size: 48px;
    line-height: 58.51px;
    max-width: 675px;
    margin: 28px auto 38px;
}



.main-content{
    background: #fff;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 100px;
    max-width: 1200px;

}

.main-content .step-container{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-bottom: 314px ;
    width: 90%;
    
    position: relative;
}

.main-content .step-container:first-child:after{
    content: "";
    position: absolute;
    background-image: url('../assets/left-line.svg');
    width: 607px;
    background-size: contain;
    height: 323px;
    background-repeat: no-repeat;
    bottom: 1px;
    left: 200px;
    top: 470px;
}

.main-content .step-container:nth-child(2):after{
    content: "";
    position: absolute;
    background-image: url('../assets/right-line.svg');
    width: 645px;
    background-size: contain;
    height: 405px;
    background-repeat: no-repeat;
    bottom: 1px;
    left: 200px;
    top: 450px;
}

.main-content .step-container:last-child{
    margin-bottom: 180px;
}

.step-container+.step-container{
    margin-bottom: 330px;


}

.step-content-container{
    padding: 5px 10px;
    transform: translateY(15px);
    transition: all 1.3s;
    border-radius: 15px;

}

.step-content-container:hover {
    transform: translateY(-15px);
    transition: all 0.7s;
    transition-timing-function: ease-in-out;
    box-shadow: 0 40px 50px var(--light-grey);
    background: var(--bg-sand);
}


.step-content-container h2{
    font-weight: 900;
    font-size: 36px;
    line-height: 43.88px;
    color: var(--dark-olive);
}

.step-content-container h2 span{
    color: var(--yellow);
}

.step-content-container p{
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: var(--light-grey);
    width: 100%;
}

.step-img-container{
    width: 480px;
}

.step-img-container img{
    box-shadow: 20px 20px 0 #f4c80f;
    max-width: fit-content;
}


.footer-content{
    background: var(--light-olive);
    padding: 93px 80px 40px 86px;
}

.footer-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-top .img-container{
    margin-bottom: 82px;
}

.news-container p{
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    padding-left: 5px;
}



.input-container {
    width: 360px;
    height: 60px;
    background: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px 10px 19px 30px ;
    
}

.input-container input{
    border: none;
    font-size: 18px;
    font-weight: 700;
    text-align: left ;
    width: 60%;
    height: 50px;
}

.input-container input::placeholder{
    color: var(--dark-olive);
}

.footer-credentials {
    background-color: var(--dark-olive);
    width: 100%;
    display: inline-grid;
    grid-template-columns: 33% 33% 33%;
    height: 90px;
    margin-bottom: 0;
    padding: 36px 80px 36px 86px;
    text-align: center;
    position: relative;

}



.footer-credentials p{
    font-weight: 700;
    font-size: 12px;
    line-height: 14.63px;
    color: #fff;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    text-align: initial;

}

.ftr-logo-container{
    text-align: end;
}

.links-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.list-container{
    width: 65%;
    display: flex;
    gap: 15%;
}

.links-container .list-container ul{
    list-style: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.links-container .list-container ul li, .links-container .list-container p {
    color: #fff;
}

.links-container .list-container p img{
    padding-left: 7px;
}

.links-container .list-container li{
    margin-bottom: 18px ;
    cursor: pointer;
}

.links-container .list-container span{
    color: var(--yellow);
    line-height: 22px;
    font-weight: 700;
    font-size: 18px;

}

.links-column  {
    font-size: 14px;
    line-height: 17px;
}

.social-links-column {
    display: flex;
    justify-content: space-between;
}

.social-links-column .img-container{
    margin: 0 15px;
    width: 80px;
    height: 80px;
    background: var(--dark-olive);
    border-radius: 50%;
    position: relative;
}

.social-links-column .img-container img{
    position: absolute;
    bottom: calc(50% - 14px);
    right: calc(50% - 14px);
}


.terms-container{
    height: 30px;
    margin-bottom: 40px;
}

.terms-container ul{
    width: 100%;
    display: flex;
    gap: 40px;
}

.terms-container a{
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    position: relative;
}

.terms-container a:not(:last-child):after{
    content: " ";
    background-color: #fff;
    border-radius: 50%;
    height: 2px;
    width: 2px;
    position: absolute;
    right: -19px;
    top: 50%;
    
}

